* {
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: white;
}

html.dark {
    --primary-color: white;
    --secondary-color: black;
}

html {
    transition: all 0.5s ease-in;
}

html.dark {
    background-color: black;
    color: var(--primary-color);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.toggle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 18px 22px;
    position: absolute;
    top: 100px;
    cursor: pointer;
    font-size: 20px;
    overflow: hidden; 
    text-transform: uppercase;   
}

@media (max-height: 896px) {
    .toggle {
        top: 10%;
    }
    
}

@media (max-height: 667px) {
    .toggle {
        top: 3.5%;
    }
}


button .circle {
    position: absolute;
    background-color: rgb(236, 0, 0);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale .5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

.toogle:focus {
    outline: none;
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.clock {
    position: relative;
    width: 300px;
    height: 300px;
    border: 3px solid var(--primary-color);
    border-radius: 50%;
}

.needle {
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 85px;
    width: 3px;
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 120px;
}

.needle.second {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 135px;
    background-color: red;
}

.center-point {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point::after {
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.time {
    font-size: 60px;
    margin-left: 50px;
    margin-top: 30px;
}

.date {
    color: rgb(98, 14, 14);
    font-size: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-left: 50px;
}

.date .circle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    height: 38px;
    width: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 32px;
}

.line {
    width: 5px;
    height: 9px;
    background-color: var(--primary-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 0 150px;
}

.line:nth-child(1) {
    transform: translateY(-150px);
}

.line:nth-child(2) {
    transform: translateY(-150px) rotateZ(calc(360deg / 12));
}

.line:nth-child(3) {
    transform: translateY(-150px) rotateZ(calc(2 * 360deg / 12));
}

.line:nth-child(4) {
    transform: translateY(-150px) rotateZ(calc(3 * 360deg / 12));
}

.line:nth-child(5) {
    transform: translateY(-150px) rotateZ(calc(4 * 360deg / 12));
}

.line:nth-child(6) {
    transform: translateY(-150px) rotateZ(calc(5 * 360deg / 12));
}

.line:nth-child(7) {
    transform: translateY(-150px) rotateZ(calc(6 * 360deg / 12));
}

.line:nth-child(8) {
    transform: translateY(-150px) rotateZ(calc(7 * 360deg / 12));
}

.line:nth-child(9) {
    transform: translateY(-150px) rotateZ(calc(8 * 360deg / 12));
}

.line:nth-child(10) {
    transform: translateY(-150px) rotateZ(calc(9 * 360deg / 12));
}

.line:nth-child(11) {
    transform: translateY(-150px) rotateZ(calc(10 * 360deg / 12));
}

.line:nth-child(12) {
    transform: translateY(-150px) rotateZ(calc(11 * 360deg / 12));
}

.line::after {
    font-size: 30px;
    display: inline-block;
    margin: 10px 0 0 -5px;
}

.line:nth-child(1)::after {
    content: '12';
    transform: translateX(-10px);
}

.line:nth-child(2)::after {
    content: '1';
    transform: rotateZ(calc(-360deg / 12));
}

.line:nth-child(3)::after {
    content: '2';
    transform: rotateZ(calc(-2 * 360deg / 12));
}

.line:nth-child(4)::after {
    content: '3';
    transform: rotateZ(calc(-3 * 360deg / 12));
}

.line:nth-child(5)::after {
    content: '4';
    transform: rotateZ(calc(-4 * 360deg / 12));
}

.line:nth-child(6)::after {
    content: '5';
    transform: rotateZ(calc(-5 * 360deg / 12));
}

.line:nth-child(7)::after {
    content: '6';
    transform: rotateZ(calc(-6 * 360deg / 12));
}

.line:nth-child(8)::after {
    content: '7';
    transform: rotateZ(calc(-7 * 360deg / 12));
}

.line:nth-child(9)::after {
    content: '8';
    transform: rotateZ(calc(-8 * 360deg / 12));
}

.line:nth-child(10)::after {
    content: '9';
    transform: rotateZ(calc(-9 * 360deg / 12));
}

.line:nth-child(11)::after {
    content: '10';
    transform: rotateZ(calc(-10 * 360deg / 12));
}

.line:nth-child(12)::after {
    content: '11';
    transform: rotateZ(calc(-11 * 360deg / 12));
}